{% extends 'base.html.twig' %}

{% block title %}Les différentes offres{% endblock %}

{% block body %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{{ asset('assets/images/bg_1.jpg') }}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Nos Offres</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{{ path('app_home') }}">Accueil <i class="ion-ios-arrow-forward"></i></a></span> <span>La Liste De Nos Offres <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftc-no-pb">
        <div class="container">
            {% for offer in offers %}
            <div class="row no-gutters mb-5">
                <div class="col-md-5 p-md-5 img img-2" style="background-image: url({{ asset('assets/images/bg_3.jpg') }});">
                </div>
                <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                    <div class="heading-section mb-5 pl-md-5">
                        <div class="pl-md-5 ml-md-5">
                            <span class="subheading subheading-with-line"><small class="pr-2 bg-white">Offre n° {{ loop.index }}</small></span>
                            <h2 class="mb-4">{{ offer.name }}</h2>
                        </div>
                    </div>
                    <div class="pl-md-5 ml-md-5 mb-5">
                        {{ offer.description|raw }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
